{% extends 'base.html.twig' %}

{% block title %}Episodes{% endblock %}

{% block body %}
    <div class="episodes">
        <h1>Episodes</h1>

        {% for episode in episodes %}
            <div class="episode">
                <h2>{{ episode.title }}</h2>
                <p>{{ episode.body }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
