{% extends 'base.html.twig' %}

{% block title %}Episodes{% endblock %}

{% block body %}
    <div class="episodes">
        <h1>Episodes</h1>

        {% for episode in episodes %}
            <div class="episode">
                <div><h2>{{ episode.title }}</h2> <h3>by {{ episode.user }}</h3></div>
                <p>{{ episode.body }}</p>
                {% for episode in episode.user.episodes %}
                {{ episode.id }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
